<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.9.1.min.js"></script>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="AngularModule.js"></script>
    <script src="administratorController.js"></script>
    <script src="TestPage.js"></script>
    <script src="RefAbbr.js"></script>
    <script src="RefSurgery.js"></script>
    <script src="ManageUsers.js"></script>

    <title></title>
</head>
<body data-ng-app="angularLogbook">
    <section data-ng-controller="adminController">

        <div id="menuContainer">
            <ul class="breadcrumb">
                <li><a href="" ng-click="menuChange('abbr')">Data Abbr</a></li>
                <li><a href="" ng-click="menuChange('surgery')">Datat Surgery</a></li>
                <li><a href="" ng-click="menuChange('users')">Users</a></li>
            </ul>
        </div>
        <div>
            <h2><strong>{{headerText}}</strong></h2>
          
        </div>

        <div  class="form-group col-md-offset-1 col-sm-offset-1 col-lg-offset-1" ng-show="menuData.abbrShow">
           
                <div admin-abbr>

                </div>
        </div>


        <div  class="form-group col-md-offset-1 col-sm-offset-1 col-lg-offset-1" ng-show="menuData.surgeryHideShow">
            <div admin-surgery>

            </div>
        </div>
        
        <div  class="form-group col-md-offset-1 col-sm-offset-1 col-lg-offset-1" ng-show="menuData.usersShow">
            <div admin-users>

            </div>
        </div>
    </section>
</body>
</html>
