<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.9.1.min.js"></script>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>
    <script src="AngularModule.js"></script>
    <script src="administratorController.js"></script>

    <title></title>
</head>
<body data-ng-app="angularLogbook">
    <section data-ng-controller="adminController">

        <div id="menuContainer">
            <ul class="breadcrumb">
                <li><a href="" ng-click="menuChange('abbr')">Data Abbr</a></li>
                <li><a href="" ng-click="menuChange('surgery')">Datat Surgery</a></li>
                <li><a href="" ng-click="menuChange('logbook')">Logbook</a></li>
            </ul>
        </div>
        <div>
            <h2><strong>{{headerText}}</strong></h2>
            <div ng-show="errorMessage" class="alert alert-danger"><h3>{{errorMessage}}</h3></div>
            <div ng-show="successMessage" class="alert alert-dismissable alert-info"><h3>{{successMessage}}</h3></div>
        </div>
        <div id="registerContainer" class="form-group col-md-offset-1 col-sm-offset-1 col-lg-offset-1" ng-hide="menuData.abbrHideShow">
            <div>

            </div>
            <h1>Manager Abbr</h1>

            <form name="addAbbrForm" class="form-horizontal" ng-submit="submitAbbr(addAbbrForm.$valid)">
                <fieldset>
                    <div class="page-header">
                        <h1>Add <small>abbr</small></h1>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 col-lg-4" ng-class="{ has-error: addAbbrForm.type.$invalid && !addAbbrForm.inputType.$pristine }">
                            <input type="text" class="form-control" name="inputType" placeholder="Type" ng-model="refAbbr.Code" required>
                            <p ng-show="addAbbrForm.inputType.$invalid && !addAbbrForm.inputType.$pristine" class="help-block">Code is required</p>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 col-lg-4">
                            <input type="text" class="form-control" name="inputDesc" placeholder="Type Desc" ng-model="refAbbr.Description" required>
                            <p ng-show="addAbbrForm.inputDesc.$invalid && !addAbbrForm.inputDesc.$pristine" class="help-block">Desc is required</p>
                        </div>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-4"><input id="Button1" type="submit" ng-disabled="addAbbrForm.$invalid" class="btn btn-primary" value="Submit" /></div>

                </fieldset>
            </form>



            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>
                            <h3>
                                Code
                            </h3>
                        </td>
                        <td>
                            <h3>
                                Desc
                            </h3>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="refAbbr in refAbbrs |orderBy:sort.column:sort.descending">
                        <td>
                            <span data-ng-hide="editMode">
                                {{refAbbr.Code}}
                            </span>
                            <input type="text" data-ng-show="editMode" data-ng-model="refAbbr.Code" data-ng-required />
                        </td>
                        <td>
                            <span data-ng-hide="editMode">
                                {{refAbbr.Description}}
                            </span>
                            <input type="text" data-ng-show="editMode" data-ng-model="refAbbr.Description" data-ng-required />
                        </td>

                        <td>
                            <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editRow(refAbbrs)" class="btn btn-primary">Edit</button>
                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false;saveField($index)" class="btn btn-primary">Save</button>
                            <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
                            <!--<button type="button" class="btn btn-primary">Update</button>-->
                        </td>
                        <td>
                            <!--<a href="#" class="btn btn-danger" ng-click="deleteUser({{user.Id}})" role="button">Delete</a>-->
                            <button type="button"
                                    ng-click="deleteAbbr(refAbbr.Id)"
                                    class="btn btn-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div id="registerContainer" class="form-group col-md-offset-1 col-sm-offset-1 col-lg-offset-1" ng-hide="menuData.surgeryHideShow">
            <h1>Manager Surgery</h1>
        </div>
    </section>
</body>
</html>
